nav > ul {
  display: flex;
  justify-content: space-between;
}

.medium_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.icon_image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

@media (min-width: 450px) {
  .sidebar {
    float: left;
  }

  main {
    float: right;
  }
}
